@import "tailwindcss";

@font-face {
    font-family: 'clash_regular';
    src: url('/fonts/Clash_Regular.otf') format('opentype')
}


body{
    background-color: rgb(255, 255, 255);
}

#MainH1 {
    margin-top: 15px;
    
    font-family: 'clash_regular';
    color: rgb(217, 82, 255);
}


.inputDiv {
    font-family: 'clash_regular';
    
    display: flex;
    justify-content: center;        
    gap: 10px;
    padding: 20px 40px;

    size: 30px;
    
}